.message {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;

  p {
    font-style: bold;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
  }

  &.left {
    justify-content: start;

    img {
      margin-right: 10px;
    }
    .message__content {
      background: linear-gradient(90deg, #ec008c 0%, #fc6767 100%);
      border-radius: 0px 500px 500px 500px;
    }
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
  }
  &__content {
    padding: 5px 15px;
    background: linear-gradient(90deg, #0575e6 0%, #021b79 100%);
    border-radius: 500px 0px 500px 500px;
  }
}
